# Core dependencies for Discord bot
discord.py
git+https://github.com/Rapptz/discord.py@master#egg=discord.py[voice]
discord.py-pagination

# Utility and external libraries
requests
openai
yt-dlp
python-dotenv
pillow

# Asynchronous support
asyncio
