# Core dependencies for Discord bot
discord.py
discord.py[voice] @ git+https://github.com/Rapptz/discord.py@master
discord.py-pagination

# Utility and external libraries
requests
openai
yt-dlp
python-dotenv
pillow
cryptography
pylast==7.1.0

# Asynchronous support
asyncio
